# ---- Folders ----
.idea
data/
result[1234567890]*/
tutorial
automation/reports/lr_html_reports
.settings
target/
gatling/target/

# ----- Files -----
*.bak
*.tmp
*.log
*.c.pickle
*.sdf
*.ci
*.idx
*.har
*.png
*.inf
*.pyc
*.imscc
~$*
shunra.shunra
mdrv_cmd.txt
options.txt
output.txt
pre_cci.c
combined_*.c
lrw_custom_body.h
TransactionsData.db
CompilerLogMetadata.xml
ReplaySummaryReport.xml
ScriptUploadMetadata.xml
UserTasks.xml
Bookmarks.xml
Breakpoints.xml
git_stash.sh
OutputColoringDatabase.json
.project
.classpath
